<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>defaultLocal</ServerName><LauncherName>Client Management System</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>true</UseStartPage><StartPage useextension="false" >C:/ColdFusion11/cfusion/wwwroot/Client Management System/Home/Index.cfm</StartPage><Mappings><Mapping-Name>Client Management System</Mapping-Name><Location>C:\ColdFusionBuilder3\ColdFusion\cfusion\wwwroot\Client Management System</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion11</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>