/* CSS Document */

body
{
	font-family: 'Nunito', sans-serif;
	background-color:#c0c0c0;
	height:100%;
	color:#3b97d3;
}

.inline
{
	float:left;
}

.row1
{
	background-color:white;
	border-radius:20px;
	margin-bottom:5%;
}

#homeIcon, #title
{
	padding-right:5%;
}

#btnClient, #btnProject
{
	height:40px;
	width:100px;
}

#title2
{
	padding-left:5%;
}

.form
{
	background-color:#CCC;
}

form {
    width: 100%;
    margin: 0 auto;
}

label, input
{
    display: inline-block;
}

label 
{
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}

btnSave, btnDelete
{
	display:inline-block;
	left:50%;	
}