body
{
	font-family: 'Nunito', sans-serif;
	text-align: center;
	background-color:#c0c0c0;
	height:100%;
	color:#3b97d3;
}

#title
{
	margin-bottom:5%;
}

.jumbotron
{
	font-size:small;
	background-color:#c0c0c0;	
}

h3
{
	border-radius:20px;
}

#clients, #projects
{
	background-color:white;
	border-radius:20px;
	height:384px;
}

.logo
{
	height:256px;
	width:256px;
}
